# Runtime data
data/

# Environment
.env

# n8n
**/credentials.json

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Procesados de condicionados generales
ggcc_outputs/

# Ejemplos
examples/

# Other
Posibles mejoras.txt